@media(max-width: 850px){
	#imageIntro{
		width: 40%;
	}
}
}

@media(max-width: 782px){
	.header, .pc{
		display: none;
	}

	.headerMobile, .mobile{
		display: flex;
	}
	.introducao{
		display: block;
	}

	.introducao img{
		width: 60%;
	}

@media(max-width: 620px){
	.selo p{
		margin: 0px;
	}

	.uso{
		margin: 3em;
	}
	.componentesgrid{
		display: block;
	}
	.logoreparticoes{
		display: flex;
		justify-content: center;
	}
	.container{
	width: 50%;
    height: 50%;
	}
}

@media(max-width: 435px){
	.que p{
		padding-left: 3em;
    	padding-right: 3em;
	}
	.container{
	width: 60%;
    height: 60%;
	}
}
}